header, section {
  max-width: 1024px;
  margin: 0 auto;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: #bbb;
}

p, table, img {
  margin-left: 10px;
}

h1 {
  text-align: center;
}